body{
            background-color: lightblue;
        }
        div{
            background-color: black;
            font-style: italic;
        }
        h1{
            background-color: aqua;

        }